$nav-link-padding-y: 1rem;
$navbar-padding-y: 0;
$navbar-nav-link-padding-x: 2rem;

$white:       #fff;
$offwhite: #f4f4f4;
$navbar-dark-color:                 rgba($white, .8);
$navbar-dark-hover-color:           rgba($white, .9);
$navbar-dark-active-color:          $white;
$primary: #F97300;

@import "node_modules/bootstrap/scss/bootstrap";

.navbar {
  background: $primary;
}

.nav-link:hover {
  background: darken($primary, 5);
}

// header

.header {
  background-image: url('/images/headerback.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.overlay{
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(244, 244, 244, 0.79);
}

.description {
  position: absolute;
  top: 30%;
  margin: auto;
  padding: 2rem;
}

.description h1 {
  color: $primary;
}

.description p {
  color: #666;
  font-size: 20px;
  width: 50%;
  line-height: 1.5;
}
.description button {
  border: 1px solid $primary;
  background: $primary;
  color: white;
}
